div{
  background-color: #c2d0f8dc;
}
/*TheadのCSS*/
header{
  height: 40%;
  background-color: #419bcc;
  text-align: center;
  }
header h1{
  display: flex;
  font-size: 50px;
  }

  header .addthear{
  position: absolute;
  top:39px ;
  font-size: 30px;
  display: inline-block;
  border: 1px solid ;
  background-color: #22fd40;
  padding: 3px;
  margin: 0;
  clear:both;
}
header .addthear:hover{
background-color: rgb(15, 241, 223);
}
h2{
  text-align: center;
  font-size: 50px;
}
.list{
  margin:auto; 
 list-style: none;
}
.list .thread{
  height: 70px;
  width: 50%;
  border: 1px solid;
  margin:auto; 
  margin-top: 2%;
  padding-top: 1%;
  text-align: center;
  font-size:xx-large;
}
/*NewThreadのCSS*/
.addbord{
  position:fixed;
  top: 10%;
  left:78%;
  width: 23%;
  float: right;
  background: #cce23a;
}
/*talkのCSS*/
.talkarea{
border:3px solid;
margin: auto;
width: 50%;
align-items: center;
}
.talkarea h3{
  text-align: center;
  font-size: xx-large;

}
.talklist .text{
  border-bottom:2px solid ;
}
